.FirstGen{
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
}
@media (max-width: 480px){
  .FirstGen{
    display: flex;
    flex-direction: column;
  }
}